{%extends 'main.html' %}
{%block content%}
<h1>Log-in</h1>
{%if command == 'login'%}
<form method="POST">
    {%for message in messages%}
    <div>
        {{message}}
    </div>
    {%endfor%}
    {%csrf_token%}
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter username"/>
    <label>Password:</label>
    <input type="password" name="password"placeholder="Enter password">
    <input type="submit" value="Login">
    <div>You don't have a account?</div>
    <a href="{%url 'register'%}">Register now!</a>
</form>
{%else%}
<form method="POST">
    {%for message in messages%}
    <div>
        {{message}}
    </div>
    {%endfor%}
    {%csrf_token%}
    <div>{{form.as_p}}</div>
    <input type="submit">
    <div>You already have a account?</div>
    <a href="{%url 'log_in'%}">Login now!</a>
</form>
{%endif%}
{%endblock%} 